HOST=0.0.0.0
PORT=3080

TRUST_PROXY=1

CREDS_KEY=REPLACE_WITH_CREDS_KEY
CREDS_IV=REPLACE_WITH_CREDS_IV

MONGO_URI=mongodb://mongodb:27017/LibreChat

DOMAIN_CLIENT=https://REPLACE_WITH_DOMAIN
DOMAIN_SERVER=https://REPLACE_WITH_DOMAIN

NO_INDEX=true

LOG_TO_FILE=true

DEPLOYMENT_PLUGINS_DIR=./plugins
DEPLOYMENT_SKILLS_DIR=./skill

ENDPOINTS=custom,agents

SERPER_API_KEY=REPLACE_WITH_SERPER_API_KEY
FIRECRAWL_API_KEY=REPLACE_WITH_FIRECRAWL_API_KEY
FIRECRAWL_VERSION=v1
JINA_API_KEY=REPLACE_WITH_JINA_API_KEY

# ANTHROPIC_API_KEY=REPLACE_WITH_ANTHROPIC_API_KEY
# GOOGLE_KEY=REPLACE_WITH_GOOGLE_KEY
# OPENAI_API_KEY=REPLACE_WITH_OPENAI_API_KEY
OPENROUTER_API_KEY=REPLACE_WITH_OPENROUTER_KEY
# XAI_API_KEY=REPLACE_WITH_XAI_API_KEY

COMPOSIO_API_KEY=REPLACE_WITH_COMPOSIO_API_KEY

FILE_UPLOAD_SSE_ENABLED=true

ALLOW_SHARED_LINK=true
ALLOW_SHARED_LINKS_PUBLIC=true
SHARED_LINKS_SNAPSHOT_FILES=true

SHARE_IP_MAX=100000
SHARE_IP_WINDOW=0
SHARE_USER_MAX=100000
SHARE_USER_WINDOW=0
SHARE_VIOLATION_SCORE=0

SCHEDULES_SINGLE_PROCESS=true

BAN_VIOLATIONS=false

LIMIT_CONCURRENT_MESSAGES=false
LIMIT_MESSAGE_IP=false
LIMIT_MESSAGE_USER=false
LIMIT_IMPORT_IP=false
LIMIT_IMPORT_USER=false
LIMIT_FORK_IP=false
LIMIT_FORK_USER=false
FILE_UPLOAD_IP_MAX=false

ALLOW_REGISTRATION=false

SESSION_EXPIRY=1000 * 60 * 15
REFRESH_TOKEN_EXPIRY=(1000 * 60 * 60 * 24) * 90

JWT_SECRET=REPLACE_WITH_JWT_SECRET
JWT_REFRESH_SECRET=REPLACE_WITH_JWT_REFRESH_SECRET

APP_TITLE=LibreBox